{% extends 'base.html'%}

{% load static %}

{% block body_start %}
<body>
    {% if messages %}
        <ul class="messages" style="margin-left:250px;color:white">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
        </ul>
    {% endif %}
<div class="wrapper">
{% endblock %}

{% block body_end %}

    <div class="two">
  	
  	    <div class="headlines">
  		    <h2 style="margin-bottom: -20px;color: white;">For You!</h2>
  		
                {% for news in top_three_news%}
                <div class="article">

                    <a href="{{news.url}}" target="_blank"> <img src="{{news.article_image}}" style="width:300px;height:150px;">
                        <h5>{{news.title|slice:":100"}}</h5>
                        <h6>
                            <span style="float:right;margin-top:5px" class = 'readMore'>Read More </span>
                        </h6>
                    </a>
                    

                </div>
                {% endfor %}    
  	    </div>
    </div>


</div>
</body>
</html>
{% endblock %}